*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: black;
	color: whitesmoke;
}

.item{
	padding: 0.3rem;
	margin: 0.5rem;

}
.container{
	margin: auto;
	position: absolute;
	top: 250px;
	left: 550px;
	border: 1px solid whitesmoke;	
	box-shadow: whitesmoke;
	width: 20%;
}