{% extends 'blogPages/base.html' %}
{% load static %}
{% block head %}
	<title>Home</title>
	<link rel="stylesheet" href="{% static '/css/frame.css' %}">
{% endblock %}



{% block content %}
	
	<div class="main_container">
		
		{% for row in data %}
			<div class="items">
				<div class="card" style="width: 18rem;">
					<div class="card-body">
					  <h5 class="card-title">{{row.topic}}</h5>
					  <div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="{{ row.link }}" frameborder="0"></iframe>
					  </div>
					  <p class="card-text">{{row.content}}.</p>
					  <i>By: {{row.user_id__name}} | Uploaded: {{row.created_at}}</i>
					</div>
				  </div>
			</div>
		{% endfor %}
		
	</div>
		
		
	  

{% endblock %}


