<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>test</title>
</head>
<body>
		
	inside P tag: <p>Url:{{url}}</p>
	inside a tag:<a href="{{url}}">{{url}}</a>
	<br>
	frame tag: <iframe src="{{url}}" frameborder="0">{{url}}</iframe>
	<br>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/pAyBqHuMtT0?si=oQxwcV6eVS9S0e7X" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

	<br>
	<iframe width="560" height="315" src="{{url}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</body>
</html>